<ng-template #titleTpl let-anime>
  <div class="flex items-center space-x-3">
    <img
      [src]="anime.image_url"
      [alt]="anime.title"
      loading="lazy"
      class="w-8 h-10 object-cover rounded shadow-sm"
    />
    <span class="font-medium">{{ anime.title }}</span>
  </div>
</ng-template>

<ng-template> </ng-template>

<app-dashboard-table
  title="Anime Management"
  emptyMessage="No anime found."
  [columns]="columns"
  [data]="anime"
  [currentPage]="currentPage"
  [maxPage]="maxPage"
  [hasNextPage]="hasNextPage"
  [pageSize]="pageSize"
  [rowLink]="animeRowLink"
  (nextPage)="onNextPage()"
  (previousPage)="onPreviousPage()"
  (pageSizeChange)="onPageSizeChange($event)"
/>
