<header
  class="bg-mantle-light text-text-light dark:bg-mantle dark:text-text shadow-sm sticky top-0 z-40 rounded-md w-full transition-transform duration-300 ease-out"
  [class.-translate-y-full]="isHeaderHidden"
>
  <nav class="px-4 sm:px-6 lg:px-8 py-3">
    <div class="flex items-center justify-start gap-3 relative">
      <a
        routerLink="/"
        class="text-xl flex items-center font-bold text-lavender-light dark:text-lavender hover:opacity-85"
      >
        <img src="assets/logo.png" alt="logo" title="logo" class="max-w-10" />
        AnimeHub
      </a>

      <button
        class="absolute end-10 px-2 py-1 rounded-full shadow-md transition bg-lavender-light/20 dark:bg-lavender/20 hover:opacity-75 hover:cursor-pointer"
        (click)="onThemeToggle()"
      >
        <i *ngIf="currentTheme == 'dark'" class="bi bi-sun"></i>
        <i *ngIf="currentTheme == 'light'" class="bi bi-moon"></i>
      </button>

      <button
        (click)="isMenuOpen = !isMenuOpen"
        class="lg:hidden inline-flex items-center justify-center p-2 rounded"
        aria-label="Toggle menu"
      >
        <i *ngIf="!isMenuOpen" class="absolute bi bi-list text-2xl end-2"></i>
        <i *ngIf="isMenuOpen" class="absolute bi bi-x text-2xl end-2"></i>
      </button>

      <div class="hidden lg:flex space-x-4 items-center">
        <a
          routerLink="home"
          routerLinkActive="bg-blue-light text-white dark:bg-blue dark:text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="py-1.5 px-3 rounded hover:bg-blue-light dark:hover:bg-blue hover:text-white transition"
        >
          Home
        </a>
        <a
          routerLink="explore"
          routerLinkActive="bg-blue-light text-white dark:bg-blue dark:text-white"
          class="py-1.5 px-3 rounded hover:bg-blue-light dark:hover:bg-blue hover:text-white transition"
        >
          Explore
        </a>
        <a
          routerLink="about"
          routerLinkActive="bg-blue-light text-white dark:bg-blue dark:text-white"
          [routerLinkActiveOptions]="{ exact: true }"
          class="py-1.5 px-3 rounded hover:bg-blue-light dark:hover:bg-blue hover:text-white transition"
        >
          About
        </a>
      </div>
      <div class="hidden lg:flex items-center justify-end w-full">
        <button
          class="flex items-center justify-center px-3 py-2 rounded-full shadow-md aspect-square transition bg-lavender-light/20 dark:bg-lavender/20 hover:opacity-75 hover:cursor-pointer"
          (click)="onThemeToggle()"
        >
          <i *ngIf="currentTheme == 'dark'" class="bi bi-sun text-2xl"></i>
          <i *ngIf="currentTheme == 'light'" class="bi bi-moon text-2xl"></i>
        </button>
        <app-anime-search class="lg:min-w-lg"></app-anime-search>
      </div>
    </div>

    <div *ngIf="isMenuOpen" class="mt-4 flex flex-col space-y-2 lg:hidden">
      <app-anime-search class="w-full mb-2"></app-anime-search>
      <a
        routerLink="home"
        routerLinkActive="bg-blue-light text-white dark:bg-blue dark:text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block px-2 py-1 rounded hover:bg-blue-light dark:hover:bg-blue hover:text-white transition"
      >
        Home
      </a>
      <a
        routerLink="explore"
        routerLinkActive="bg-blue-light text-white dark:bg-blue dark:text-white"
        class="block px-2 py-1 rounded hover:bg-blue-light dark:hover:bg-blue hover:text-white transition"
      >
        Explore
      </a>
      <a
        routerLink="about"
        routerLinkActive="bg-blue-light text-white dark:bg-blue dark:text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        class="block px-2 py-1 rounded hover:bg-blue-light dark:hover:bg-blue hover:text-white transition"
      >
        About
      </a>
    </div>
  </nav>
</header>
