<footer
  class="mx-auto w-full relative text-center bg-lavender-light/40 dark:bg-lavender/20 dark:text-white rounded-md"
>
  <div class="px-6 md:py-14 xl:pt-20 xl:pb-12">
    <h2 class="font-bold text-3xl xl:text-4xl leading-snug">AnimeHub</h2>

    <div class="mt-10 xl:mt-18">
      <nav class="flex flex-wrap justify-center text-lg font-medium">
        <div class="px-5 py-2">
          <a
            class="transition-colors duration-200 hover:text-lavender-light dark:hover:text-lavender"
            routerLink="/contact"
          >
            <i class="bi bi-envelope-fill"></i>
            Contact
          </a>
        </div>
        <div class="px-5 py-2">
          <a
            class="transition-colors duration-200 hover:text-lavender-light dark:hover:text-lavender"
            routerLink="/about"
          >
            <i class="bi bi-code-square"></i>
            About
          </a>
        </div>
        <div class="px-5 py-2">
          <a
            class="transition-colors duration-200 hover:text-lavender-light dark:hover:text-lavender"
            routerLink="/privacy"
          >
            <i class="bi bi-info-circle-fill"></i>
            Privacy
          </a>
        </div>
        <div class="px-5 py-2">
          <a
            class="transition-colors duration-200 hover:text-lavender-light dark:hover:text-lavender"
            target="_blank"
            href="https://github.com/jklzz02/Anime-client"
          >
            <i class="bi bi-github"></i>
            Github
          </a>
        </div>
      </nav>
      <p class="mt-7 dark:text-white">©{{ currentYear }} AnimeHub</p>
    </div>
  </div>
</footer>
