@if (showCard) {
  <div
    class="bg-mantle-light dark:bg-mantle rounded-xl shadow-lg flex flex-col items-center gap-4"
    [ngClass]="cardPaddingClasses"
  >
    <div [ngClass]="spinnerClasses"></div>

    @if (message) {
      <p [ngClass]="messageClasses">{{ message }}</p>
    }
  </div>
} @else {
  spinnerOnly
}

<ng-template #spinnerOnly>
  <div class="flex items-center gap-3">
    <div [ngClass]="spinnerClasses"></div>
    @if (message) {
      <p [ngClass]="messageClasses">{{ message }}</p>
    }
  </div>
</ng-template>
