<a
  class="flex flex-col h-75 items-center rounded-xl bg-mantle-light dark:bg-mantle shadow-md hover:scale-105 hover:shadow-lg transition p-4 text-center"
  [routerLink]="['/detail', summary.id]"
>
  <img
    [src]="summary.image_url"
    [alt]="summary.title"
    (error)="summary.image_url = 'assets/placeholder.png'"
    class="w-34 max-h-1/2 object-cover rounded-md mb-3"
  />
  <span
    class="text-md max-w-4/5 max-h-1/5 text-text-light dark:text-text overflow-hidden whitespace-nowrap text-ellipsis"
  >
    {{ summary.title }}
  </span>
  <span
    *ngIf="summary.score >= 8"
    class="text-lg text-green-light dark:text-green"
  >
    {{ summary.score }}
  </span>
  <span
    *ngIf="summary.score < 8 && summary.score >= 6"
    class="text-lg text-peach-light dark:text-peach"
  >
    {{ summary.score }}
  </span>
  <span
    *ngIf="summary.score < 6"
    class="text-lg text-red-500 dark:text-red-400"
  >
    {{ summary.score }}
  </span>
  <p>{{ summary.release_year }}</p>
  <p class="text-sm">{{ summary.rating }}</p>
</a>
