@if (!isLoading) {
  <div class="w-full max-w-screen-xl mx-auto my-8 relative">
    <div
      class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3"
    >
      @for (item of anime.data; track $index) {
        <app-anime-card [anime]="item"></app-anime-card>
      }
    </div>

    <app-pagination
      class="mb-3"
      [currentPage]="page"
      [totalPages]="anime.total_pages"
      [path]="'explore'"
      (next)="nextPage()"
      (previous)="previousPage()"
    >
    </app-pagination>

    <app-filter class="sticky bottom-1 z-30"></app-filter>
  </div>
} @else {
  <div class="w-full max-w-screen-xl mx-auto my-8">
    <div
      class="grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 my-8 min-h-full"
    >
      @for (i of counter; track $index) {
        <app-anime-card-skeleton></app-anime-card-skeleton>
      }
    </div>
  </div>
}
