<div
  *ngIf="isOpen"
  class="fixed inset-0 z-50 bg-black/50 flex items-center justify-center"
  (click)="toggleMenu()"
>
  <form
    (ngSubmit)="applyFilters()"
    (blur)="toggleMenu()"
    (click)="$event.stopPropagation()"
    #filterForm="ngForm"
    class="w-full max-w-md mx-auto bg-mantle-light dark:bg-mantle rounded-xl shadow-2xl p-6 z-50 relative"
  >
    <h2 class="text-xl font-bold text-text-light dark:text-text mb-4">
      Filter Anime
    </h2>

    <div class="space-y-4 grid grid-cols-1 gap-2">
      <select
        name="genreId"
        [(ngModel)]="filter.genreId"
        class="w-full rounded-md bg-surface0-light dark:bg-surface0 text-text-light dark:text-text px-3 py-2"
      >
        <option *ngFor="let genre of genres" [value]="genre.id">
          {{ genre.name }}
        </option>
      </select>

      <select
        name="licensor_id"
        [(ngModel)]="filter.licensor_id"
        class="w-full rounded-md bg-surface0-light dark:bg-surface0 text-text-light dark:text-text px-3 py-2"
      >
        <option *ngFor="let licensor of licensors" [value]="licensor.id">
          {{ licensor.name }}
        </option>
      </select>

      <select
        name="producer_id"
        [(ngModel)]="filter.producer_id"
        class="w-full rounded-md bg-surface0-light dark:bg-surface0 text-text-light dark:text-text px-3 py-2"
      >
        <option *ngFor="let producer of producers" [value]="producer.id">
          {{ producer.name }}
        </option>
      </select>

      <select
        name="type"
        [(ngModel)]="filter.type"
        class="w-full rounded-md bg-surface0-light dark:bg-surface0 text-text-light dark:text-text px-3 py-2"
      >
        <option *ngFor="let type of types" [value]="type.name">
          {{ type.name }}
        </option>
      </select>

      <select
        name="source"
        [(ngModel)]="filter.source"
        class="w-full rounded-md bg-surface0-light dark:bg-surface0 text-text-light dark:text-text px-3 py-2"
      >
        <option *ngFor="let source of sources" [value]="source.name">
          {{ source.name }}
        </option>
      </select>

      <input
        type="number"
        name="min_score"
        [(ngModel)]="filter.min_score"
        placeholder="minimum score..."
        class="w-full rounded-md bg-surface0-light dark:bg-surface0 text-text-light dark:text-text px-3 py-2"
      />

      <input
        type="number"
        name="min_release_year"
        [(ngModel)]="filter.min_release_year"
        placeholder="minimum release year..."
        class="w-full rounded-md bg-surface0-light dark:bg-surface0 text-text-light dark:text-text px-3 py-2"
      />

      <input
        type="number"
        name="episodes"
        [(ngModel)]="filter.episodes"
        placeholder="episodes count..."
        class="w-full rounded-md bg-surface0-light dark:bg-surface0 text-text-light dark:text-text px-3 py-2"
      />
      <div class="flex items-center gap-2">
        <div class="relative inline-block w-11 h-5">
          <input
            [(ngModel)]="filter.include_adult_content"
            id="include_adult_content"
            name="include_adult_content"
            type="checkbox"
            class="peer appearance-none w-11 h-5 bg-surf-100 rounded-full bg-surface2-light dark:bg-surface2 checked:bg-peach-light dark:checked:bg-peach cursor-pointer transition-colors duration-300"
          />
          <label
            for="include_adult_content"
            class="absolute top-0 left-0 w-5 h-5 bg-white rounded-full border shadow-sm transition-transform duration-300 peer-checked:translate-x-6 cursor-pointer"
          >
          </label>
        </div>
        <span>Include adult content</span>
      </div>
    </div>

    <div class="flex gap-2 mt-6 items-center justify-center">
      <button
        type="submit"
        class="bg-blue-light dark:bg-blue text-white font-semibold px-4 py-2 rounded-md hover:cursor-pointer hover:bg-blue dark:hover:bg-blue/90 transition"
      >
        Apply
      </button>

      <span
        (click)="clearFilters()"
        class="bg-blue-light dark:bg-blue text-white font-semibold px-4 py-2 rounded-md hover:cursor-pointer hover:bg-blue dark:hover:bg-blue/90 transition"
      >
        Reset
      </span>
    </div>
  </form>
</div>

<div *ngIf="!isOpen" class="mx-auto text-center">
  <button
    class="px-3 py-2 shadow rounded-full bg-surface0-light dark:bg-surface1 text-text-light dark:text-text hover:opacity-75"
    (click)="toggleMenu()"
  >
    <i class="text-2xl bi bi-filter"></i>
  </button>
</div>
