<div class="container mx-auto px-4 py-8">
  @if (notFound) {
    <div class="mx-auto px-4 py-8 max-w-screen-md">
      <h1
        class="text-4xl text-center font-bold text-lavender-light dark:text-lavender"
      >
        No results found
        @if (params.title) {
          for {{ params.title }}
        }
      </h1>

      <div class="mx-auto text-center">
        <a
          routerLink="/reviews"
          class="mt-8 px-6 py-3 inline-block bg-peach-light dark:bg-peach text-white rounded-md hover:opacity-85 transition"
          >Back to reviews
        </a>
      </div>
    </div>
  }

  @if (!loading && !notFound) {
    <div class="grid grid-cols-1 gap-6 my-4">
      @for (item of reviews.data; track $index) {
        <app-review-card [review]="item"></app-review-card>
      }
    </div>

    <app-review-filter [filter]="params"></app-review-filter>

    <app-pagination
      class="mt-8 block"
      [currentPage]="page"
      [totalPages]="reviews.total_pages ?? 0"
      [path]="'reviews'"
      (next)="nextPage()"
      (previous)="previousPage()"
    >
    </app-pagination>
  }
  @if (loading && !notFound) {
    <div class="grid grid-cols-1 gap-6 animate-pulse">
      @for (item of counter; track $index) {
        <div
          class="bg-base-light dark:bg-base rounded-xl shadow-lg border border-surface0-light dark:border-surface0 overflow-hidden"
        >
          <div class="flex flex-col md:flex-row">
            <div
              class="md:w-48 h-64 md:h-auto bg-surface0-light dark:bg-surface0 shrink-0"
            ></div>
            <div class="p-6 flex flex-col justify-between flex-grow space-y-4">
              <div class="space-y-4">
                <div
                  class="h-8 bg-surface0-light dark:bg-surface0 rounded w-3/4"
                ></div>
                <div
                  class="h-6 bg-surface0-light dark:bg-surface0 rounded w-1/2"
                ></div>
                <div class="space-y-2">
                  <div
                    class="h-4 bg-surface0-light dark:bg-surface0 rounded w-full"
                  ></div>
                  <div
                    class="h-4 bg-surface0-light dark:bg-surface0 rounded w-full"
                  ></div>
                  <div
                    class="h-4 bg-surface0-light dark:bg-surface0 rounded w-2/3"
                  ></div>
                </div>
              </div>
              <div class="flex items-center gap-3 pt-4">
                <div
                  class="w-10 h-10 bg-surface0-light dark:bg-surface0 rounded-full"
                ></div>
                <div
                  class="h-5 bg-surface0-light dark:bg-surface0 rounded w-32"
                ></div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
