<div class="container mx-auto px-4 py-8">
  @if (!loading && reviews.has_items) {
    <div class="grid grid-cols-1 gap-6 my-4">
      @for (item of reviews.data; track $index) {
        <app-review-card [review]="item"></app-review-card>
      }
    </div>

    <app-review-filter></app-review-filter>

    <app-pagination
      class="mt-8 block"
      [currentPage]="page"
      [totalPages]="reviews.total_pages ?? 0"
      [path]="'reviews'"
      (next)="nextPage()"
      (previous)="previousPage()"
    >
    </app-pagination>
  } @else if (!reviews.has_items) {
    <div class="flex flex-col items-center justify-center py-20 px-4">
      <div class="text-center space-y-4">
        <div
          class="inline-flex items-center justify-center w-16 h-16 rounded-full bg-surface2-light dark:bg-surface2 mb-2"
        >
          <i class="bi bi-chat-quote text-3xl text-white"></i>
        </div>

        <h3 class="text-xl font-semibold text-text-light dark:text-text">
          No reviews yet
        </h3>
        <button
          routerLink="/reviews/create"
          class="inline-flex items-center justify-center gap-2 px-6 py-3 cursor-pointer bg-blue-light dark:bg-blue text-white rounded-lg font-medium hover:bg-lavender-light dark:hover:bg-lavender transition-colors duration-200"
        >
          Be the first!
        </button>
      </div>
    </div>
  } @else {
    <div class="grid grid-cols-1 gap-6 animate-pulse">
      @for (item of counter; track $index) {
        <div
          class="bg-base-light dark:bg-base rounded-xl shadow-lg border border-surface0-light dark:border-surface0 overflow-hidden"
        >
          <div class="flex flex-col md:flex-row">
            <div
              class="md:w-48 h-64 md:h-auto bg-surface0-light dark:bg-surface0 shrink-0"
            ></div>
            <div class="p-6 flex flex-col justify-between flex-grow space-y-4">
              <div class="space-y-4">
                <div
                  class="h-8 bg-surface0-light dark:bg-surface0 rounded w-3/4"
                ></div>
                <div
                  class="h-6 bg-surface0-light dark:bg-surface0 rounded w-1/2"
                ></div>
                <div class="space-y-2">
                  <div
                    class="h-4 bg-surface0-light dark:bg-surface0 rounded w-full"
                  ></div>
                  <div
                    class="h-4 bg-surface0-light dark:bg-surface0 rounded w-full"
                  ></div>
                  <div
                    class="h-4 bg-surface0-light dark:bg-surface0 rounded w-2/3"
                  ></div>
                </div>
              </div>
              <div class="flex items-center gap-3 pt-4">
                <div
                  class="w-10 h-10 bg-surface0-light dark:bg-surface0 rounded-full"
                ></div>
                <div
                  class="h-5 bg-surface0-light dark:bg-surface0 rounded w-32"
                ></div>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>
